.main {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
 
.main__centerblock {
	width: auto;
	-webkit-box-flex: 3;
		 -ms-flex-positive: 3;
			  flex-grow: 3;
	padding: 20px 40px 20px 111px;
 }
 
	.main__sidebar {
	  max-width: 418px;
	  padding: 20px 90px 20px 78px;
	}

	.centerblock__search {
		  width: 100%;
		  border-bottom: 1px solid #4e4e4e;
		  margin-bottom: 51px;
		  display: flex;
		  flex-direction: row;
		  align-items: center;
		}

		
		 
		.centerblock__h2 {
			  font-style: normal;
			  font-weight: 400;
			  font-size: 64px;
			  line-height: 72px;
			  letter-spacing: -0.8px;
			  margin-bottom: 45px;
			}
		 
			.centerblock__filter {
			  display: flex;
			  flex-direction: row;
			  align-items: center;
			  margin-bottom: 51px;
			}
		 
			.centerblock__content {
			  display: flex;
			  flex-direction: column;
			}
		 
		 
		
			.search__svg {
			  width: 17px;
			  height: 17px;
			  margin-right: 5px;
			  stroke: #ffffff;
			  fill: transparent;
			}
		 
			.search__text {
			  flex-grow: 100;
			  background-color: transparent;
			  border: none;
			  padding: 13px 10px 14px;
			  font-style: normal;
			  font-weight: 400;
			  font-size: 16px;
			  line-height: 24px;
			  color: #ffffff;
			}
		 
			  .search::placeholder {
				 background-color: transparent;
				 color: #ffffff;
				 font-style: normal;
				 font-weight: 400;
				 font-size: 16px;
				 line-height: 24px;
			  }
			
			  .content__title {
				  display: flex;
				  flex-direction: row;
				  align-items: center;
				  justify-content: space-between;
				  margin-bottom: 24px;
				}
			 
				.content__playlist {
				  display: flex;
				  flex-direction: column;
				  overflow-y: auto;
				}
			 
			 
			 .playlist-title__col {
				  font-style: normal;
				  font-weight: 400;
				  font-size: 14px;
				  line-height: 24px;
				  letter-spacing: 2px;
				  color: #696969;
				  text-transform: uppercase;
				}
			 
				.playlist-title__svg {
				  width: 12px;
				  height: 12px;
				  fill: transparent;
				  stroke: #696969;
				}

				.col01 {
					width: 447px;
				 }
				 
				 .col02 {
					width: 321px;
				 }
				 
				 .col03 {
					width: 245px;
				 }
				 .col04 {
					width: 60px;
					text-align: end;
				 }

				 .playlist__item {
					  width: 100%;
					  display: block;
					  margin-bottom: 12px;
					}
				 
					.playlist__track {
					  display: flex;
					  flex-direction: row;
					  justify-content: space-between;
					  align-items: center;
					}
				 
				 
				 .track__title {
					  display: flex;
					  flex-direction: row;
					  align-items: center;
					  width: 447px;
					}
				 
					.track__title-image {
					  width: 51px;
					  height: 51px;
					  padding: 16px;
					  background: #313131;
					  display: flex;
					  align-items: center;
					  justify-content: center;
					  margin-right: 17px;
					}
				 
					.track__title-svg {
					  width: 18px;
					  height: 17px;
					  fill: transparent;
					  stroke: #4e4e4e;
					}
				 
					
				 
					.track__title-link {
					  font-style: normal;
					  font-weight: 400;
					  font-size: 16px;
					  line-height: 24px;
					  color: #ffffff;
					}
				 
					.track__title-span {
					  font-style: normal;
					  font-weight: 400;
					  font-size: 16px;
					  line-height: 24px;
					  color: #4e4e4e;
					}
				 
					.track__author {
					  width: 321px;
					  display: flex;
					  justify-content: flex-start;
					}
				 
					.track__author-link {
					  font-style: normal;
					  font-weight: 400;
					  font-size: 16px;
					  line-height: 24px;
					  color: #ffffff;
					  text-align: left;
					}
				 
					.track__album {
					  width: 245px;
					}
				 
					.track__album-link {
					  font-style: normal;
					  font-weight: 400;
					  font-size: 16px;
					  line-height: 24px;
					  color: #696969;
					}
				 
					
				 
					.track__time-svg {
					  width: 14px;
					  height: 12px;
					  margin-right: 17px;
					  fill: transparent;
					  stroke: #696969;
					}
				 
					.track__time-text {
					  font-style: normal;
					  font-weight: 400;
					  font-size: 16px;
					  line-height: 24px;
					  text-align: right;
					  color: #696969;
					}
				
			 
				  
