* {
  font-family: 'StratosskyengReg';
}
/*statosskyeng-v1.001/Desktop fonts/stratosskyeng-regular.otf*/
@font-face {
  font-family: StratosskyengReg;
  src: url('../statosskyeng-v1.001/Desktop\ fonts/stratosskyeng-regular.otf');
  font-weight: 400;
}
.login__container {
  width: 366px;
  height: 439px;
  margin: auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
  background: rgba(255, 255, 255, 1);
}
.login__logo {
  margin-top: 43px;
  width: 140.00057983398438px;
  height: 21px;
  margin-bottom: 34px;
}

img {
  width: 100%;
  height: 100%;
}

.login__name,
.login__password {
  width: 278.5px;
  border-bottom: 1px solid rgba(208, 206, 206, 1);
  border-top: none;
  border-left: none;
  border-top: none;
  border-right: none;
  height: 40px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.003em;
  text-align: left;
  padding-left: 10px;
}
.login__password {
  margin-bottom: 50px;
}

.login__button {
  width: 278px;
  height: 52px;
  border-radius: 6px;
  background-color: rgba(88, 14, 162, 1);
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.003em;
  text-align: center;
  border: none;
}

.login__button:hover {
  background: rgba(63, 0, 125, 1);
}

.login__button:active {
  background: rgba(39, 26, 88, 1);
}

.registration__start {
  width: 278px;
  height: 52px;
  border-radius: 6px;
  border: 1px solid rgba(208, 206, 206, 1);
  background-color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.003em;
  text-align: center;
}
.registration__start:hover {
  background-color: rgba(217, 217, 217, 1);
  color: black;
}

.registration__start:active {
  background-color: rgba(208, 206, 206, 1);
  color: black;
}

.registration__button {
  width: 278px;
  height: 52px;
  border-radius: 6px;
  border: 1px solid rgba(208, 206, 206, 1);
  background: rgba(88, 14, 162, 1);
}
.registration__button_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.003em;
  text-align: center;
  color: white;
}

.registration__button_text:hover {
  color: black;
}

.registration__button_text:active {
  color: black;
}

.registration__button:hover {
  background-color: rgba(217, 217, 217, 1);
  color: black;
}

.registration__button:active {
  background-color: rgba(208, 206, 206, 1);
  color: black;
}

::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.003em;
  text-align: left;
  color: rgb(120, 118, 118);
}

.registration__password {
  width: 278.5px;
  border-bottom: 1px solid rgba(208, 206, 206, 1);
  border-top: none;
  border-left: none;
  border-top: none;
  border-right: none;
  height: 40px;
  margin-bottom: 50px;
  padding-left: 10px;
}
