* {
  font-family: 'StratosskyengReg';
}

@font-face {
  font-family: StratosskyengReg;
  src: url('../statosskyeng-v1.001/Desktop\ fonts/stratosskyeng-regular.otf');
  font-weight: 400;
}

.main__nav {
  width: 244px;
  background-color: #181818;
  padding: 20px 0 20px 36px;
}

.main__nav-light {
  width: 244px;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px 0 20px 36px;
}

.nav__logo {
  width: 113.33px;
  height: 43px;
  padding: 13px 0 13px 0;
  background-color: transparent;
  margin-bottom: 20px;
}
.nav__burger {
  width: 20px;
  height: 36px;
  padding: 13px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nav__menu {
  display: block;
  visibility: visible;
}

.logo__image {
  width: 113.33px;
  height: 17px;
  color: #181818;
}

.burger__line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
}

.menu__list {
  padding: 18px 0 10px 0;
}
.menu__item {
  padding: 5px 0;
  margin-bottom: 16px;
}

.menu__icon {
  width: 39px;
  height: 39px;
}
.menu__link {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
